name: GitHub Metrics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: DaviMartinss

          # Aparência
          template: classic
          theme: dark
          config_timezone: America/Fortaleza

          # Stats básicos
          base: header, activity, community, repositories

          # Linguagens
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage

          # Commits
          plugin_isocalendar: yes
